<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="/home">Batch</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/startAndStop">Start&Stop</a>
      <a class="nav-item nav-link" routerLink="/chart">Chart</a>      
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/picressant" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/pierre-cressant-1507a887" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</nav>